
.card {
   background-color: var(--color-bg-primary);
   border: 1px solid var(--color-border);
   border-radius: var(--border-radius);
   padding: var(--spacing-md);
   transition: var(--transition-default);
}

.card:hover {
   border-color: var(--color-accent);
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.card-titulo {
   color: var(--color-text-primary);
   margin-bottom: var(--spacing-xs);
   font-size: 1.25rem;;
}

.card-descricao {
   color: var(--color-text-secondary);
   font-size: 0.9rem;
}